body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #36d6b6;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #054f7a;
    height: 6vh;
    width: 100vw;
    padding: 5px;
}

main {
    margin-top: 3px;
    background-color: #dfeff0;
    top: 6vh;
    min-height: 87vh;
    width: 100vw;
}

footer {

    background-color: #054f7a;
    height: 3vh;
    width: 100vw;
}

#photowall {
    background-color: #dfeff0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 50vh;
}

#photowall > img {
    padding-right: 3px;
    padding-bottom: 3px;
    flex-grow: 1;
    object-fit: cover;
}

#logo {
    display: inline-block;
}