body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #36d6b6;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #054f7a;
    height: 6vh;
    width: 100vw;
    padding: 5px;
}

main {
    background-color: #dfeff0;
    top: 8vh;
    min-height: 87vh;
    width: 100vw;
}

footer {

    background-color: #054f7a;
    height: 3vh;
    width: 100vw;
}
