@font-face {
    font-family: "navbar";
    src: url("../fonts/CarterOne-Regular.ttf");
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0d98ba;
}

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d98ba;
    height: 75px;
    width: 100vw;
    z-index: 1;
    

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #dfeff0;
    top: 8vh;
    min-height: 89vh;
    width: 100vw;
    flex-grow: 1;
}

footer {
    background-color: #0d98ba;
    height: 3vh;
    width: 100vw;
    bottom: 0;
    flex-grow: 0;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d98ba;
    z-index: 2;

    transition: opacity 1s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.loading > img:nth-child(1) {
    position: fixed;
    height: 33vh;
    animation: rotate 2s infinite linear;
}
.loading > img:nth-child(2) {
    position: fixed;
    height: 26vh;
    animation: rotate 2.75s infinite linear;
}
.loading > img:nth-child(3) {
    position: fixed;
    height: 20.7vh;
    animation: rotate 3.5s infinite linear;
}
.loading > img:nth-child(4) {
    position: fixed;
    height: 9vh;
}

.navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-family: navbar, Times, serif;
    /* color: white; */
    background: rgb(13,152,186);
    background: linear-gradient(90deg, rgba(13,152,186,1) 0%, rgba(3,85,105,1) 75%);
    flex-grow: 0.15;
}

.navbar > a {
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    /* border: solid white 2px; 
    border-radius: 5%;*/
}
.navbar>a:not(:first-of-type){
    border-left: 1px solid white;
}

.navbar > a:hover {
    background-color: #42d2f5;
}

.bar {
    position: absolute;
    bottom: -6px;
    height: 6px;
    width: 100vw;
    background-color: #035569;
}

#photowall {
    background-color: #dfeff0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: hidden;
    max-height: 50vh;
    width: 100vw;
}

#photowall > img {
    padding-right: 3px;
    padding-bottom: 3px;
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.photorow {
    height: 25vh;
}

#logo {
    padding: 5px;
    max-width: 20vw;
    height: auto;
    display: inline-block;
    object-fit: cover;
}

#spacer {
    flex-grow: 1;
}
